In [122]:
# importing all the packages needed 
import os
import pandas as pd
import calendar
import numpy as np

In [32]:
path = os.getcwd() # getting the path of current working directory to create the folder structure
configfile = os.path.join(path + '\Data' + '\\vehicle_collisions.csv') # getting the path of the json files to be read

In [87]:
fields = ['DATE','BOROUGH', 'VEHICLE 1 TYPE', 'VEHICLE 2 TYPE', 'VEHICLE 3 TYPE', 'VEHICLE 4 TYPE', 'VEHICLE 5 TYPE']
df = pd.read_csv(configfile,skipinitialspace=True, usecols=fields)
df.dropna(subset=['BOROUGH'])
df = df.fillna(0)

In [88]:
df

,DATE,BOROUGH,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE
0,1/1/15,QUEENS,SPORT UTILITY/STATION WAGON,0,0,0,0
1,1/1/15,0,PASSENGER VEHICLE,0,0,0,0
2,1/1/15,BROOKLYN,PASSENGER VEHICLE,UNKNOWN,0,0,0
3,1/1/15,BROOKLYN,BUS,PASSENGER VEHICLE,0,0,0
4,1/1/15,0,UNKNOWN,PASSENGER VEHICLE,0,0,0
5,1/1/15,BROOKLYN,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,0
6,1/1/15,QUEENS,PASSENGER VEHICLE,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,0,0
7,1/1/15,BROOKLYN,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
8,1/1/15,MANHATTAN,PASSENGER VEHICLE,0,0,0,0
9,1/1/15,BROOKLYN,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
10,1/1/15,MANHATTAN,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
11,1/1/15,BROOKLYN,SPORT UTILITY/STATION WAGON,UNKNOWN,0,0,0
12,1/1/15,MANHATTAN,TAXI,PASSENGER VEHICLE,0,0,0
13,1/1/15,QUEENS,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,0,0,0
14,1/1/15,QUEENS,PASSENGER VEHICLE,UNKNOWN,0,0,0
15,1/1/15,BROOKLYN,UNKNOWN,PASSENGER VEHICLE,0,0,0
16,1/1/15,BROOKLYN,TAXI,SPORT UTILITY/STATION WAGON,0,0,0
17,1/1/15,MANHATTAN,PASSENGER VEHICLE,TAXI,0,0,0
18,1/1/15,QUEENS,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
19,1/1/15,MANHATTAN,VAN,UNKNOWN,0,0,0
20,1/1/15,QUEENS,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
21,1/1/15,0,SPORT UTILITY/STATION WAGON,0,0,0,0
22,1/1/15,BROOKLYN,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
23,1/1/15,0,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,0,0,0
24,1/1/15,QUEENS,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,0,0,0
25,1/1/15,BROOKLYN,UNKNOWN,PASSENGER VEHICLE,0,0,0
26,1/1/15,0,UNKNOWN,PASSENGER VEHICLE,0,0,0
27,1/1/15,0,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,0,0,0
28,1/1/15,BROOKLYN,PASSENGER VEHICLE,UNKNOWN,0,0,0
29,1/1/15,0,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
...,...,...,...,...,...,...,...
477702,2/28/17,QUEENS,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,0,0,0
477703,2/28/17,0,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,0,0,0
477704,2/28/17,0,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,0,0,0
477705,2/28/17,0,PASSENGER VEHICLE,0,0,0,0
477706,2/28/17,0,SPORT UTILITY/STATION WAGON,SPORT UTILITY/STATION WAGON,0,0,0
477707,2/28/17,0,BICYCLE,SPORT UTILITY/STATION WAGON,0,0,0
477708,2/28/17,0,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,0,0,0
477709,2/28/17,MANHATTAN,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
477710,2/28/17,0,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
477711,2/28/17,MANHATTAN,0,0,0,0,0
477712,2/28/17,BROOKLYN,PASSENGER VEHICLE,0,0,0,0
477713,2/28/17,BRONX,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE
477714,2/28/17,BRONX,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
477715,2/28/17,BRONX,PASSENGER VEHICLE,0,0,0,0
477716,2/28/17,BRONX,PASSENGER VEHICLE,0,0,0,0
477717,2/28/17,BROOKLYN,SPORT UTILITY/STATION WAGON,0,0,0,0
477718,2/28/17,0,PASSENGER VEHICLE,0,0,0,0
477719,2/28/17,0,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
477720,2/28/17,BRONX,PASSENGER VEHICLE,SPORT UTILITY/STATION WAGON,0,0,0
477721,2/28/17,STATEN ISLAND,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,0,0,0
477722,2/28/17,MANHATTAN,SPORT UTILITY/STATION WAGON,0,0,0,0
477723,2/28/17,0,PASSENGER VEHICLE,0,0,0,0
477724,2/28/17,MANHATTAN,PASSENGER VEHICLE,0,0,0,0
477725,2/28/17,BROOKLYN,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,0,0,0
477726,2/28/17,QUEENS,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,0,0,0
477727,2/28/17,QUEENS,SPORT UTILITY/STATION WAGON,PASSENGER VEHICLE,0,0,0
477728,2/28/17,QUEENS,PASSENGER VEHICLE,0,0,0,0
477729,2/28/17,0,PASSENGER VEHICLE,0,0,0,0
477730,2/28/17,BRONX,TAXI,PASSENGER VEHICLE,0,0,0
477731,2/28/17,MANHATTAN,SPORT UTILITY/STATION WAGON,0,0,0,0

In [85]:
vehicles = ((df['VEHICLE 1 TYPE'] == 0) | (df['VEHICLE 2 TYPE'] == 0) | (df['VEHICLE 3 TYPE']== 0) | (df['VEHICLE 4 TYPE']== 0) | (df['VEHICLE 5 TYPE']== 0))
count = 0
if(vehicles.all()):
    count = count +1
    df['VEHICLE COUNT'] = count

In [128]:
a = df[:5]
b = a['VEHICLE 1 TYPE'] !=0
a['VEHICLE 1 TYPE'] = np.where(b == True, 1, 2);

C:\Users\chint\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,DATE,BOROUGH,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE
0,1/1/15,QUEENS,1,0,0,0,0
1,1/1/15,0,1,0,0,0,0
2,1/1/15,BROOKLYN,1,UNKNOWN,0,0,0
3,1/1/15,BROOKLYN,1,PASSENGER VEHICLE,0,0,0
4,1/1/15,0,1,PASSENGER VEHICLE,0,0,0

In [82]:
df.iloc[1]

DATE                         1/1/15
BOROUGH                           0
VEHICLE 1 TYPE    PASSENGER VEHICLE
VEHICLE 2 TYPE                    0
VEHICLE 3 TYPE                    0
VEHICLE 4 TYPE                    0
VEHICLE 5 TYPE                    0
VEHICLE COUNT                     1
Name: 1, dtype: object

In [36]:
boroughGrouping = df.groupby(['BOROUGH'], sort = False

In [40]:
if(['VEHICLE 1 TYPE', 'VEHICLE 2 TYPE', 'VEHICLE 3 TYPE', 'VEHICLE 4 TYPE', 'VEHICLE 5 TYPE')

C:\Users\chint\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

TypeError: unorderable types: str() > int()

In [26]:
a = df.groupby(['BOROUGH', 'VEHICLE 1 TYPE', 'VEHICLE 2 TYPE', 'VEHICLE 3 TYPE', 'VEHICLE 4 TYPE', 'VEHICLE 5 TYPE'], sort = False)

In [27]:
x = a.count()
x

                                                                                                                                                            DATE
BOROUGH       VEHICLE 1 TYPE              VEHICLE 2 TYPE              VEHICLE 3 TYPE              VEHICLE 4 TYPE              VEHICLE 5 TYPE
QUEENS        SPORT UTILITY/STATION WAGON 0                           0                           0                           0                             3381
0             PASSENGER VEHICLE           0                           0                           0                           0                            14418
BROOKLYN      PASSENGER VEHICLE           UNKNOWN                     0                           0                           0                             4850
              BUS                         PASSENGER VEHICLE           0                           0                           0                              460
0             UNKNOWN                     PASSENGER VEHICLE           0                           0                           0                              320
BROOKLYN      PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           0                               16
QUEENS        PASSENGER VEHICLE           PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON 0                           0                              296
BROOKLYN      PASSENGER VEHICLE           PASSENGER VEHICLE           0                           0                           0                            31298
MANHATTAN     PASSENGER VEHICLE           0                           0                           0                           0                             7261
                                          PASSENGER VEHICLE           0                           0                           0                            18776
BROOKLYN      SPORT UTILITY/STATION WAGON UNKNOWN                     0                           0                           0                             2237
MANHATTAN     TAXI                        PASSENGER VEHICLE           0                           0                           0                             2252
QUEENS        PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON 0                           0                           0                             6923
                                          UNKNOWN                     0                           0                           0                             3495
BROOKLYN      UNKNOWN                     PASSENGER VEHICLE           0                           0                           0                              391
              TAXI                        SPORT UTILITY/STATION WAGON 0                           0                           0                              198
MANHATTAN     PASSENGER VEHICLE           TAXI                        0                           0                           0                             2544
QUEENS        PASSENGER VEHICLE           PASSENGER VEHICLE           0                           0                           0                            30088
MANHATTAN     VAN                         UNKNOWN                     0                           0                           0                              188
0             SPORT UTILITY/STATION WAGON 0                           0                           0                           0                             5045
                                          SPORT UTILITY/STATION WAGON 0                           0                           0                             9079
QUEENS        SPORT UTILITY/STATION WAGON SPORT UTILITY/STATION WAGON 0                           0                           0                             5820
0             SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           0                           0                           0                            10214
              PASSENGER VEHICLE           PASSENGER VEHICLE           0                           0                           0                            45452
BRONX         SPORT UTILITY/STATION WAGON UNKNOWN                     0                           0                           0                              927
MANHATTAN     TAXI                        SPORT UTILITY/STATION WAGON 0                           0                           0                             1117
BROOKLYN      PASSENGER VEHICLE           BUS                         0                           0                           0                              450
QUEENS        SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           0                           0                           0                             7086
STATEN ISLAND PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON 0                           0                           0                             1040
0             PASSENGER VEHICLE           TAXI                        0                           0                           0                             1046
...                                                                                                                                                          ...
QUEENS        TAXI                        PASSENGER VEHICLE           PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON PASSENGER VEHICLE                1
              PASSENGER VEHICLE           TAXI                        SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           0                                1
              SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON      2
MANHATTAN     TAXI                        TAXI                        PICK-UP TRUCK               0                           0                                1
              PICK-UP TRUCK               SPORT UTILITY/STATION WAGON SPORT UTILITY/STATION WAGON TAXI                        0                                1
BROOKLYN      BICYCLE                     SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           0                           0                                1
BRONX         PASSENGER VEHICLE           PASSENGER VEHICLE           MOTORCYCLE                  0                           0                                2
QUEENS        MOTORCYCLE                  PICK-UP TRUCK               0                           0                           0                                1
BRONX         SPORT UTILITY/STATION WAGON TAXI                        TAXI                        0                           0                                1
              PICK-UP TRUCK               PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           PASSENGER VEHICLE                1
              TAXI                        TAXI                        PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON 0                                1
BROOKLYN      PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           TAXI                        0                                1
              PICK-UP TRUCK               PICK-UP TRUCK               TAXI                        0                           0                                1
              SPORT UTILITY/STATION WAGON SPORT UTILITY/STATION WAGON SPORT UTILITY/STATION WAGON TAXI                        PASSENGER VEHICLE                1
QUEENS        BICYCLE                     PICK-UP TRUCK               0                           0                           0                                1
MANHATTAN     SPORT UTILITY/STATION WAGON SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON PASSENGER VEHICLE                1
BRONX         SPORT UTILITY/STATION WAGON SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           PASSENGER VEHICLE           TAXI                             1
MANHATTAN     PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON      1
              TAXI                        SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           TAXI                        0                                1
STATEN ISLAND PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           TAXI                        0                                1
0             PASSENGER VEHICLE           PASSENGER VEHICLE           FIRE TRUCK                  PASSENGER VEHICLE           0                                1
                                          SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           TAXI                        0                                1
                                          BICYCLE                     MOTORCYCLE                  PASSENGER VEHICLE           0                                1
BROOKLYN      PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           MOTORCYCLE                  0                                1
0             BICYCLE                     BICYCLE                     PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON 0                                1
BROOKLYN      PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           PICK-UP TRUCK               0                                1
              BICYCLE                     PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON 0                           0                                1
QUEENS        SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           SPORT UTILITY/STATION WAGON PICK-UP TRUCK               SPORT UTILITY/STATION WAGON      1
MANHATTAN     SPORT UTILITY/STATION WAGON PASSENGER VEHICLE           PICK-UP TRUCK               PASSENGER VEHICLE           PASSENGER VEHICLE                1
0             SPORT UTILITY/STATION WAGON PICK-UP TRUCK               SPORT UTILITY/STATION WAGON SPORT UTILITY/STATION WAGON 0                                1

[4507 rows x 1 columns]